body {
    margin: 0;
}

h2 {
    margin: 4px;
}

p {
    margin: 4;
    list-style: none;
    text-align: justify;
    line-height: 1.4;
    font-size: 14px;
}

.text-shadow {
    margin: 4;
    list-style: none;
    text-align: justify;
    line-height: 1.4;
    font-size: 14px;
    /* text-shadow: 20px horizontal(cuantos px a la derecha) 20px vertical(cuantos px para abajo) 50px (desenfoque de la sombra) #000 (color de la sombra); */
    text-shadow: 0 0 5px #f88;
}

img {
    width: 100%;
    /* filter: drop-shadow(0 horizontal(cuantos px a la derecha) 0 vertical(cuantos px para abajo) 5px (desenfoque de la sombra) #000); */
    filter: drop-shadow(0 0 5px #000);
}

.box {
    width: 300px;
    height: 200px;
    background-color: #bbb;
    margin: auto;
    margin-top: 50px;
    /* box-shadow: 20px horizontal(cuantos px a la derecha) 20px vertical(cuantos px para abajo) 50px (desenfoque de la sombra) 10px (cuanto se quiere que la sombra se expanda) #000 (color de la sombra); */
    box-shadow: 0 0 40px 0 #0007;
    padding: 10px;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #222;
}

.box2 {
    width: 300px;
    height: 200px;
    background-color: #bbb;
    margin: auto;
    margin-top: 50px;
    /* box-shadow: 20px horizontal(cuantos px a la derecha) 20px vertical(cuantos px para abajo) 50px (desenfoque de la sombra) 10px (cuanto se quiere que la sombra se expanda) #000 (color de la sombra); */
    box-shadow: 0 0 40px 0 #0007;
    padding: 10px;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #222;
}

.box3 {
    width: 300px;
    background-color: #bbb;
    margin: auto;
    margin-top: 50px;
    /* box-shadow: 20px horizontal(cuantos px a la derecha) 20px vertical(cuantos px para abajo) 50px (desenfoque de la sombra) 10px (cuanto se quiere que la sombra se expanda) #000 (color de la sombra); */
    box-shadow: 0 0 40px 0 #0007;
    padding: 10px;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #222;
}