body {
    margin: 0;
    font-family: sans-serif;
}

/* Funciones de comparación. */

.box {
    /* width: 600px; */
    background-color: #48e;
    display: grid;
    place-content: center;
    color: #fff;
    margin: 120px auto;
    font-size: 30px;
    padding: 0 40px;
    /* width: min(600px, 100%); -> Sirve para devolver el valor mas chico. */
    /* width: min(600px, 100%); */
    /* width: max(600px, 100%); -> Sirve para devolver el valor mas grande. */
    /* width: max(600px, 100%); */
    /* width: clamp(400px, 100%, 500px); -> Sirve para poner el valor (minimo, ideal y el maximo). */
    width: clamp(400px, 100%, 500px);
}

h1 {
    font-size: 2.4em;
    margin-bottom: 0;
}