body {
    margin: 0;
    font-family: sans-serif;
}

body, div {
    box-sizing: border-box;
}

.flexbox {
    display: flex;
}

.flex-item {
    background-color: #ccc;
    padding: 30px;
    border: 1px solid #f00;
    flex-grow: 1;
}

/* Media query en los dispositivos de impresión. */
@media print {
    body {
        font-size: 24pt;
    }
}

/* Media query en las resoluciones de pantalla. */
@media screen and (max-width: 460px) {
    .flexbox {
        flex-direction: column;
    }
}