body {
    margin: 0;
    font-family: sans-serif;
    background-color: #999;
}

body, div {
    box-sizing: border-box;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    /* grid-template-rows: repeat(auto-fill, minmax(150px, 1fr)); */
    grid-auto-flow: dense;
    gap: 10px;
    padding: 10px;
    min-height: 100vh;
}

.grid-item {
    background-color: #48e;
    font-size: 30px;
    width: 100%;
    border-radius: 10px;
    background-image: url("./imgs/paisaje.jpg");
    background-size: cover;
    background-position: center;
}

/*  */
.grid-item:first-child {
    /* grid-column-start: 1;
    grid-column-end: 3; */
    grid-column: 1/span 2;
    /* grid-row-start: 1;
    grid-row-end: 3; */
    grid-row: 1/span 2;
}

.grid-item:nth-child(10) {
    grid-column: span 3;
}