body {
    margin: 0;
    font-family: sans-serif;
}

.container {
    container-type: inline-size;
    container-name: main;
}

p {
    font-size: 8px;
}
/* max-width -> hasta. */
@container main (max-width: 300px) {
    p {
        font-size: 20px;
    }
}
/* min-width -> desde. */
@container main (min-width: 300px) {
    p {
        font-size: 40px;
    }
}