body {
    margin: 0;
    background-color: #999;
}

.box {
    width: 100px;
    height: 100px;
    background-color: #f00;
    color: #fff;
    /* position: static; -> es el valor que trae por default el position y con este valor no estan posicionados los elementos. */
    position: relative;
    /* El (z-index) solo funciona cuando posicionamos los elementos en este caso es el (position: ralative;) */
    z-index: 2;
}

.box--blue {
    background-color: #00f;
    /* top: 10px; -> tiene prioridad sobre (bottom) eso cuando la propiedad position este definida en (relative) */
    top: 50px;
    /* left: 10px; -> tiene prioridad sobre (right) eso cuando la propiedad position este definida en (relative) */
    left: 50px;
    z-index: 3;
}

.box:first-child {
    top: 100px;
    left: 100px;
    background-color: #0f0;
    z-index: 4;
}